body {
    padding: 0;
    background-color: #F5F5F5;
    color: #333;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 0 0;
    padding: 2rem 3rem 2rem 3rem;
    width: 25rem;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noUser {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #ff6347;
    color: #fff;
    border-radius: 5px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.noUser:hover  {
    background-color: #ff4500;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

